<!DOCTYPE html>
<html>
  <head>
    <title>Page Image</title>
      	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<style>
		body {
			font-family: Arial, sans-serif;
			margin: 0;
			padding: 0;
		}

		header {
			background-color: #333;
			color: #fff;
			padding: 1em;
		}

		input[type=text] {
			font-size: 1em;
			padding: 0.5em;
			width: 80%;
			margin: 1em auto;
			display: block;
		}

		img {
			max-width: 100%;
			height: auto;
			display: block;
			margin: 1em auto;
		}

		.error {
			color: red;
			margin: 1em auto;
			display: block;
		}
	</style>
  </head>
  <body>
    <h1>ImageId: {{ cell_value }}</h1>
	{% if image_url %}
		<img src="{{ image_url }}" alt="{{ cell_value }}">
	{% endif %}
	{% if error_message %}
		<p class="error">{{ error_message }}</p>
	{% endif %}
  </body>
</html>
